.text-container{
    position: relative;
    width: fit-content;
}

.textHolder{
    width: 600px;
    font-family: Merriweather,serif;
    font-weight: 100;
    font-size: 2rem;
    position: relative;
    line-height: 2;
    display: flex;
    border: 0 solid #d4d4d7;
    box-shadow: 0 9px 24px rgb(0 0 0 / 12%);
    overflow: hidden;
    height: 130px;
}

#inputZone{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#typedText, #needToTypeText{
    white-space: nowrap;
    position: absolute;
    white-space: pre-visible;
    font-variant-alternates: visible-controls; /* high level, assumes support by the font (format) */
    font-feature-settings: "vwsp" 1;
    text-transform: visible-whitespace;
}

#typedText{
    text-align: right;
    right: calc(50% + 2px);
}

#needToTypeText{
    text-align: left;
    left: calc(50% + 2px);
}

.counters{
    display: flex;
    gap: 20px;
}

.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.printed{
    color: gray;
}

.isPrinting{
    color: steelblue;
}

#typeCoursor{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 2px;
    background-color: black;
}

#typeCoursor.blink{
    animation: blink-animation 1.3s steps(2, start) infinite;
}

#typeCoursor.deactivate{
    display: none;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
}